page-notifications-list {
  ion-label.label.label-md{
    color: white;
  }

  ion-item.item-md {
    background: transparent;
  }

  .item-md.item-block .item-inner{
    padding-right: 0px;
  }

  ion-item.item-md.logout{
    border-bottom: 0px;
  }

  .disabled{
    pointer-events: none;
    filter: opacity(50%);
  }

  .avatar{
    cursor: pointer;
  }
}
